html {
  margin: 0em;
  padding: 0em;
  font-family: 'Futura', sans-serif;
  box-sizing: border-box;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	font-size: 12pt;
}

header {
  padding: 1em 1em 1em 4em;
  background-color: #375dce;
  color: white;
  margin-bottom: 1em;
}

#skiptomaincontent:not(focus) {
  display: inline-block;
  position: absolute;
  padding: 5px 5px 30px 5px;
  bottom: 100%;
  left: 5%;
  top: -40%;
  transition: 7s;
  border-radius: 5px;
}

#skiptomaincontent:focus {
  position: absolute;
  transition: 0.2s;
  padding: 5px 5px 30px 5px;
  top: 0;
  left: 5%;
  bottom: 80%;
  background-color: #e5d957;
  font-weight: bold;
  border-radius: 5px;
}

#header-wrapper
{
	overflow: hidden;
}

#header
{
	position: relative;
}

h2 {
  position: absolute;
  top: 1em;
  left: 11em;
  font-style: italic;
}

nav
{
	position: absolute;
	right: 4em;
	top: 0;
}

nav ul
{
  list-style: none;
	display: inline-block;
	padding: 0em 0em 0em 1em;
	text-align: center;
}

nav ul li {
  display: inline-block;
}

nav .current_page_item a
{
	text-decoration: underline;
}

nav ul li a:not(hover) {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #5c81e8;
  transition: 0.3s;
  padding: 1em;
  border-radius: 8px;
  margin: .6em 0em 1em 0em;
}

nav ul li a:hover {
  background-color: #375dce;
  transition: 0.3s;
}

p {
  padding-top: 3%;
  font-family: 'Taahoma', sans-serif;
}

#content
{
	float: left;
	width: 55%;
	padding-right: 50px;
	border-right: 1px solid #e0e0e0;
  text-align: justify;
}

#sidebar
{
	float: right;
	width: 33%;
  margin-right: 3%
}

#sidebar h3
{
	padding-bottom: .50em;
	font-weight: 300;
}

#sidebar .section
{
	margin-top: 3em;
}

#copyright
{
	overflow: hidden;
	padding: 1em 0em;
	text-align: center;
}

#copyright p
{
	letter-spacing: 1px;
	font-size: 0.90em;
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#two-column
{
	padding-top: 2em;
}

#two-column .box1
{
	float: left;
	width: 49%;
}

#two-column .box2
{
	float: right;
	width: 46%;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 150%;
}

a
{
	color: #E85D4B;
}

.container:not(#header)
{
  padding-left: 5%;
  padding-right: 1%;
	width: 94%;
}

#learning-img {
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
}

#learning2-img {
  height: 95%;
  width: 95%;
}

#learning-img-subtitle {
  text-align: center;
}

#resources-list li a:not(hover) {
  display: inline-block;
  text-decoration: none;
  color: #3389ff;
}

#resources-list li a:hover {
  text-decoration: underline;
}

/* Credit to Professor Kramer for the base for the section of CSS styling below */
blockquote {
	padding: 1em;
	margin-left: 0;
	position: relative;
}

blockquote:after {
	  content: "";
	  background-color: #5c81e8;
	  opacity: 0.25;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;
	  border-radius: 8px;

}
